

# Archivos del sistema y configuraciones locales
*.pyc
__pycache__/
.DS_Store
.env
.vscode/
.idea/

# Dependencias y entornos virtuales
venv/
node_modules/
*.log

# Archivos temporales y backups
*.tmp
*.bak
*.swp
*.swo

# Configuración específica del repositorio
.gitignore
